{
  "env": {
    "browser": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": "umd",
          "exclude": ["transform-regenerator"]
        }]
      ]
    },
    "commonjs": {
      "presets": [
        ["env", {
          "targets": {
            "node": 6
          }
        }]
      ]
    }
  }
}
